fastapi
uvicorn
google-genai
requests
pydantic
python-multipart
jinja2
python-docx
pypdf
python-dotenv
asyncpg
langgraph-checkpoint-postgres
psycopg[binary]
langchain
langchain-core
langgraph
langchain-google-genai
slack_sdk
